<a href="https://colab.research.google.com/github/MariaWaleskaSilva/Aulas-python/blob/main/04_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
nomes = [' Ze', 'Tião', 'Joaquim']
nomes.append ('Julia')
nomes

#Vários Valores 
outrosNomes = ['Ana', 'Zabé', 'maria']

nomes.extend(outrosNomes)

nomes

[' Ze', 'Tião', 'Joaquim', 'Julia', 'Ana', 'Zabé', 'maria']

In [9]:
numeros = [ 3, 5, 7, 9]
numeros.remove(numeros[0])
numeros.pop()

numeros

[5, 7]

In [17]:
#1 - Crie uma lista de notas, e exiba-a da menor para a maior
Notas = [2, 20, 45, 77, 100, 253, 378]
nomes = ['Jose', 'Mael','Luiz', 'mikael' ]
Notas.sort()
nomes.sort()
#2 - Crie uma lista de nomes de frutas e ordene-a em ordem decrescente
     
nomes

['Jose', 'Luiz', 'Mael', 'mikael']

In [20]:
#Exemplo função map - cria uma nova lista com o dobro 
numeros = [15, 22, 37]
nova_lista = list(map(lambda x : x*2, numeros))
nova_lista

[30, 44, 74]

In [ ]:
#Pegarcada um dos numeros e dividir por 3
numdivi = list(map(lambda x : x/3, numeros ))

numdivi

In [25]:
#PEgar cada numero e somar por 2
numdivi = list(map(lambda x :x+3, numeros))

In [27]:
from types import LambdaType
#exemplo função filtrar - partir de uma lista de nomes, criar uma nova lista apenas com palavras

nome = ['Jose', 'Angelo', 'Mia', 'Joaquim', 'Bernado'  ]
new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['mikael']

In [32]:
#crie uma lista de notas, Imprime as maiores que 6
notas = [9, 7, 8, 6]
notas = list(filter(lambda x : x> 6, notas))

In [42]:

#Dada uma lista de números, retorne uma lista contendo o quadrado de cada número.
lista = [4, 8, 6, 10]
quadrado = list(map(lambda x: x**2, lista))
quadrado

[16, 64, 36, 100]

In [44]:
#Dada uma lista de nomes, retorne uma lista contendo o tamanho de cada nome
nomes = ['Maria', 'Sandra', 'Paulo', 'Cassio']
tamanhos = list(map(lambda x:len(x), nomes))
tamanhos

[5, 6, 5, 6]

In [49]:
#Dada uma lista de números, retorne uma lista contendo apenas os números pares.
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Pares = list(filter(lambda x: x% 2==0, numeros ))
Pares

[2, 4, 6, 8, 10]